<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-danger ml-2" href="/"><img src="/public/logo.png" alt="CO-SO" width="150" height="150"></a>
    <form action="/search" class="form-inline my-2 my-lg-0 mx-2" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q">
        <button class="btn btn-success my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
            Search
        </button>
    </form>
    <ul class="navbar-nav mr-auto ml-3">
        <li class="nav-item"><a class="nav-link aligner" href="/">
            <i class="fas fa-home fa-2x ml-3"></i>
            <h4>Home</h4>
        </a></li>
        {{#if user}}
            <li class="nav-item"><a class="nav-link" href="/login/logout">
                <i class="fas fa-user-times fa-2x ml-4 pl-1"></i>
                <h4>Log out</h4>
            </a></li>
            {{#if user.company}}
            <li class="nav-item"><a href="/makeexam" class="nav-link">
                <i class="fas fa-pen fa-2x ml-5 pr-1"></i>
                <h4>Make exam</h4>
            </a></li>
            <li class="nav-item"><a href="/makeexam/mytest" class="nav-link">
                <i class="fas fa-book fa-2x ml-4 pl-1"></i>
                <h4>My tests</h4>
            </a></li>
            {{else}}
            <li class="nav-item"><a href="/register/company" class="nav-link">
                <i class="fas fa-users fa-2x ml-5 pl-4"></i>
                <h4>Register company</h4>
            </a></li>
            {{/if}}
            <li class="nav-item"><a class="nav-link" href="/profile">
                <i class="fas fa-user-edit fa-2x ml-3 pl-1"></i>
                <h4>Profile</h4>
            </a></li>
        {{else}}
            <li class="nav-item"><a class="nav-link" href="/register">
                <i class="fas fa-user-plus fa-2x ml-4 pl-1"></i>
                <h4>Register</h4>
            </a></li>
            <li class="nav-item"><a class="nav-link" href="/login">
                <i class="fas fa-user fa-2x ml-3"></i>
                <h4>Login</h4>
            </a></li>
        {{/if}}
    </ul>
</nav>

{{#section 'style'}}
    <style>
        
    </style>
{{/section}}